$block: ".#{variables.$ns}dropdown";

#{$block} {
  padding: 8px 0;
  border-radius: 8px;
  background-color: var(--st-color-base-background);
  box-shadow: 0 4px 12px 0 #00000014;

  &__list {
    display: flex;
    overflow: hidden auto;
    max-height: 252px;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--st-color-border-primary);
    }
  }
}
