$block: ".#{variables.$ns}dropdown";

#{$block} {
  padding: 8px 0;
  background-color: var(--st-color-background-primary);
  box-shadow: 0px 4px 12px 0px #00000014;
  border-radius: 8px;

  &__list {
    max-height: 252px;
    display: flex;
    flex-direction: column;
    overflow: hidden auto;

    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--st-color-border-primary);
      border-radius: 4px;
    }
  }
}
