$block: ".#{variables.$ns}pagination";

#{$block} {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  &__page-sizer {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__numbers {
    display: flex;
    column-gap: 4px;
  }

  &__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
  }
}
