$block: ".#{variables.$ns}input";

#{$block} {
  position: relative;
  display: flex;
  height: var(--input-height);
  border: 1px solid var(--st-color-border-primary);
  border-radius: var(--input-border-radius);
  transition: border-color 0.16s linear;

  &:hover:not(#{$block}_disabled, #{$block}_state_error) {
    border-color: var(--st-color-border-primary-hover);
  }

  &:focus-within:not(#{$block}_disabled, #{$block}_state_error) {
    border-color: var(--st-color-border-primary-active);
  }

  &_state {
    &_error {
      border-color: var(--st-color-base-danger);
    }
  }

  &_disabled {
    border-color: transparent;
    background-color: var(--st-color-base-generic);
  }

  &_size {
    &_s {
      --input-border-radius: 6px;
      --input-height: 28px;
      --input-padding: 4px 8px;
    }

    &_m {
      --input-border-radius: 8px;
      --input-height: 36px;
      --input-padding: 8px 12px;
    }
  }

  &__control {
    position: relative;
    width: 100%;
    padding: var(--input-padding);

    // background-color: var(--st-color-base-background);
    color: inherit;
  }

  &__btn-clear {
    display: flex;
    width: var(--input-height);
    align-items: center;
    justify-content: center;

    & svg {
      color: var(--st-color-text-hint);
      transition: color 0.15s linear;
    }

    &:hover {
      & svg {
        color: var(--st-color-text-primary);
      }
    }
  }

  &::-ms-clear {
    display: none;
  }
}
