$block: ".#{variables.$ns}badge";

#{$block} {
  --background-color: none;
  --text-color: none;

  display: inline-flex;
  height: var(--badge-height);
  border-radius: var(--badge-border);
  background-color: var(--background-color);
  column-gap: 4px;

  &_size {
    &_s {
      --badge-height: 20px;
      --badge-border: 4px;
      --badge-font-size: var(--st-text-caption-font-size);
      --badge-line-height: var(--st-text-caption-line-height);

      padding: 2px 8px;
    }

    &_m {
      --badge-height: 24px;
      --badge-border: 6px;
      --badge-font-size: var(--st-text-caption-font-size);
      --badge-line-height: var(--st-text-caption-line-height);

      padding: 4px 8px;
    }

    &_l {
      --badge-height: 28px;
      --badge-border: 8px;
      --badge-font-size: var(--st-text-body-font-size);
      --badge-line-height: var(--st-text-body-line-height);

      padding: 4px 12px;
    }
  }

  &_theme {
    &_normal {
      --background-color: var(--st-color-base-generic);
    }

    &_success {
      --background-color: var(--st-color-base-positive-light);
      --text-color: var(--st-color-text-positive);
    }

    &_info {
      --background-color: var(--st-color-base-info-light);
      --text-color: var(--st-color-text-info);
    }

    &_warning {
      --background-color: var(--st-color-base-warning-light);
      --text-color: var(--st-color-text-warning);
    }

    &_danger {
      --background-color: var(--st-color-base-danger-light);
      --text-color: var(--st-color-text-danger);
    }
  }

  &__text {
    color: var(--text-color);
    font-size: var(--badge-font-size);
    line-height: var(--badge-line-height);
  }
}
