$block: ".#{variables.$ns}button";

#{$block} {
  position: relative;
  display: inline-flex;
  height: var(--button-height);
  align-items: center;
  justify-content: center;
  border-radius: var(--button-border-radius);
  gap: 8px;
  transform: scale(1);
  transition:
    transform 0.1s ease-out,
    background-color 0.15s linear;

  &:active {
    transform: scale(0.96);
  }

  &:has(#{$block}__icon:only-child) {
    width: var(--button-height);
    padding: 0;
  }

  &_size {
    &_s {
      --button-height: 28px;
      --button-icon-size: 16px;
      --button-border-radius: 6px;

      padding: 0 12px;
    }

    &_m {
      --button-height: 36px;
      --button-icon-size: 20px;
      --button-border-radius: 8px;

      padding: 0 16px;
    }
  }

  &_view {
    &_primary {
      --button-text-color: var(--st-color-text-light-primary);

      background-color: var(--st-color-brand-primary);

      &:hover {
        background-color: var(--st-color-brand-primary-hover);
      }
    }

    &_secondary {
      --button-text-color: var(--st-color-text-primary);

      background-color: var(--st-color-base-generic);

      &:hover {
        background-color: var(--st-color-base-generic-hover);
      }
    }

    &_ghost {
      --button-text-color: var(--st-color-text-primary);

      background-color: transparent;

      &:hover {
        background-color: var(--st-color-base-generic);
      }
    }
  }

  &__icon {
    width: var(--button-icon-size);
    height: var(--button-icon-size);
    color: var(--button-text-color);
    transition: color 0.15s linear;
  }

  &__text {
    color: var(--button-text-color);
    transition: color 0.15s linear;
  }

  &_loading {
    &::before {
      position: absolute;
      z-index: -1;
      border-radius: 8px;
      animation: loading-animation 0.5s linear infinite;
      background-clip: padding-box;
      background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 4px,
        var(--st-color-base-generic) 4px,
        var(--st-color-base-generic) 8px
      );
      background-size: 150%;
      content: "";
      inset: 0;
    }
  }

  &_disabled {
    cursor: default;
    pointer-events: none;

    &:not(#{$block}_loading) {
      &#{$block}_view {
        &_primary {
          --button-text-color: var(--st-color-text-light-secondary);
        }

        &_secondary {
          --button-text-color: var(--st-color-text-hint);
        }

        &_ghost {
          --button-text-color: var(--st-color-text-hint);
        }
      }
    }
  }

  &_selected {
    --button-text-color: var(--st-color-brand-primary-hover);

    background-color: var(--st-color-base-selection);

    &:hover {
      background-color: var(--st-color-base-selection-hover);
    }
  }
}

@keyframes loading-animation {
  0% {
    background-position: -12px 0;
  }

  100% {
    background-position: 0 0;
  }
}
