$block: ".#{variables.$ns}textarea";

#{$block} {
  position: relative;

  &:hover:not(#{$block}_disabled) {
    & #{$block}__control {
      border-color: var(--st-color-border-primary-hover);
    }
  }

  &:focus-within:not(#{$block}_disabled) {
    & #{$block}__control {
      border-color: var(--st-color-border-primary-active);
    }
  }

  &__control {
    position: relative;
    width: 100%;
    min-height: 36px;
    padding: 8px 12px;
    border: 1px solid var(--st-color-border-primary);
    border-radius: 8px;
    transition: border-color 0.16s linear;
    resize: vertical;
  }

  &_disabled {
    & #{$block}__control {
      background-color: var(--st-color-base-generic);
      border-color: transparent;
    }
  }
}
