$block: ".#{variables.$ns}radio-group";

#{$block} {
  display: flex;

  &_direction {
    &_horizontal {
      column-gap: 16px;
    }

    &_vertical {
      flex-direction: column;
      row-gap: 8px;
    }
  }
}
