$block: ".#{variables.$ns}popup";
$transition-duration: 100ms;
$transition-distance: 10px;

#{$block} {
  transition-property: opacity, transform;
  transition-timing-function: ease-out;

  @at-root [data-floating-ui-status="open"] &,
    [data-floating-ui-status="close"] & {
    transition-duration: $transition-duration;
  }

  @at-root [data-floating-ui-status="initial"] &,
    [data-floating-ui-status="close"] & {
    opacity: 0;
  }

  @at-root [data-floating-ui-status="initial"][data-floating-ui-placement*="bottom"] &,
    [data-floating-ui-status="close"][data-floating-ui-placement*="bottom"] & {
    transform: translateY($transition-distance);
  }

  @at-root [data-floating-ui-status="initial"][data-floating-ui-placement*="top"] &,
    [data-floating-ui-status="close"][data-floating-ui-placement*="top"] & {
    transform: translateY(-$transition-distance);
  }

  @at-root [data-floating-ui-status="initial"][data-floating-ui-placement*="left"] &,
    [data-floating-ui-status="close"][data-floating-ui-placement*="left"] & {
    transform: translateX(-$transition-distance);
  }

  @at-root [data-floating-ui-status="initial"][data-floating-ui-placement*="right"] &,
    [data-floating-ui-status="close"][data-floating-ui-placement*="right"] & {
    transform: translateX($transition-distance);
  }
}
