$block: ".#{variables.$ns}select";

#{$block} {
  position: relative;

  &:hover:not(#{$block}_disabled) {
    & #{$block}__control {
      border-color: var(--st-color-border-primary-hover);
    }
  }

  &_open:not(#{$block}_disabled) {
    & #{$block}__control {
      border-color: var(--st-color-border-primary-active) !important;
    }

    & #{$block}__value {
      color: var(--st-color-text-secondary);
    }
  }

  &_searchable {
    & #{$block}__control {
      cursor: text;
    }
  }

  &__control {
    position: relative;
    width: 100%;
    height: 36px;
    padding: 8px 36px 8px 12px;
    border: 1px solid var(--st-color-border-primary);
    border-radius: 8px;
    background-color: var(--st-color-background-primary);
    cursor: pointer;
    transition: border-color 0.16s linear;
    user-select: none;
  }

  &__placeholder {
    position: absolute;
    color: var(--st-color-text-hint);
  }

  &__value {
    position: absolute;
    transition: color 0.16s linear;
  }

  &__input {
    width: 100%;
  }

  &__toggle {
    position: absolute;
    top: 10px;
    right: 12px;
    display: inline-flex;

    & svg {
      transition: transform 0.16s linear;
    }
  }

  // popup

  &__popup {
    padding: 8px 0;
    border-radius: 8px;
    background-color: var(--st-color-background-primary);
    box-shadow: 0 4px 12px 0 #00000014;
  }

  &__items {
    display: flex;
    overflow: hidden auto;
    max-height: 252px;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--st-color-border-primary);
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    column-gap: 8px;
    cursor: pointer;
    transition: background-color 0.16s linear;
    user-select: none;

    &_selected {
      background-color: var(--st-color-base-selection);
    }

    &-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:not(#{$block}__item_selected):hover {
      background-color: var(--st-color-base-generic);
    }
  }
}
