$block: ".#{variables.$ns}select";

#{$block} {
  position: relative;
  display: flex;
  overflow: hidden;
  height: var(--select-height);
  border: 1px solid var(--st-color-border-primary);
  border-radius: var(--select-border-radius);
  cursor: pointer;
  transition:
    border-color 0.15s linear,
    background-color 0.15s linear;

  &_disabled {
    border-color: transparent;
    background-color: var(--st-color-base-generic);
    cursor: default;
  }

  &:hover:not(#{$block}_disabled) {
    border-color: var(--st-color-border-primary-hover);
  }

  &_open:not(#{$block}_disabled) {
    border-color: var(--st-color-border-primary-active) !important;

    & #{$block}__value {
      color: var(--st-color-text-secondary);
    }
  }

  &_searchable {
    cursor: text;
  }

  &_size {
    &_s {
      --select-border-radius: 6px;
      --select-height: 28px;
      --select-padding: 4px 8px;
    }

    &_m {
      --select-border-radius: 8px;
      --select-height: 36px;
      --select-padding: 8px 12px;
    }
  }

  &__control {
    position: relative;
    width: 100%;
    padding: var(--select-padding);
    user-select: none;
  }

  &__placeholder {
    position: absolute;
    color: var(--st-color-text-hint);
  }

  &__value {
    position: absolute;
    transition: color 0.15s linear;

    &_unactive,
    &_disabled {
      color: var(--st-color-text-hint);
    }
  }

  &__input {
    position: relative;
    width: 100%;

    &::-ms-clear {
      display: none;
    }
  }

  &__toggle {
    display: flex;
    width: 36px;
    align-items: center;
    justify-content: center;

    & svg {
      fill: var(--st-color-text-secondary);
      transition: transform 0.16s linear;
    }

    &_disabled {
      & svg {
        fill: var(--st-color-text-hint);
      }
    }
  }

  // popup

  &__popup {
    padding: 8px 0;
    border-radius: 8px;
    background-color: var(--st-color-base-background);
    box-shadow: 0 4px 12px 0 #00000014;
  }

  &__items {
    display: flex;
    overflow: hidden auto;
    max-height: 252px;
    flex-direction: column;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--st-color-border-primary);
    }
  }

  &__item {
    display: inline-flex;
    align-items: center;
    padding: 8px 12px;
    column-gap: 8px;
    cursor: pointer;
    transition: background-color 0.16s linear;
    user-select: none;

    &_selected {
      background-color: var(--st-color-base-selection);
    }

    &-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:not(#{$block}__item_selected):hover {
      background-color: var(--st-color-base-generic);
    }
  }

  &__empty {
    padding: 8px 12px;
    color: var(--st-color-text-secondary);
    text-align: center;
  }
}
