@mixin base {
  --st-color-base-background: rgb(39 39 39 / 100%);

  --st-color-base-generic: var(--st-color-private-white-100);
  --st-color-base-generic-hover: var(--st-color-private-white-150);

  --st-color-base-selection: rgb(82 130 255 / 20%);
  --st-color-base-selection-hover: rgb(82 130 255 / 35%);

  --st-color-base-info-light: var(--st-color-private-blue-150);
  --st-color-base-positive-light: var(--st-color-private-green-150);
  --st-color-base-warning-light: var(--st-color-private-yellow-150);
  --st-color-base-danger-light: var(--st-color-private-red-150);
}

@mixin brand {
  --st-color-brand-primary: rgb(75 113 214 / 100%);
  --st-color-brand-primary-hover: rgb(99 143 255 / 100%);
}

@mixin border {
  --st-color-border-primary: rgb(255 255 255 / 10%);
  --st-color-border-primary-hover: rgb(255 255 255 / 15%);
  --st-color-border-primary-active: rgb(255 255 255 / 30%);
}

@mixin text {
  --st-color-text-primary: var(--st-color-text-light-primary);
  --st-color-text-secondary: var(--st-color-text-light-secondary);
  --st-color-text-hint: var(--st-color-text-light-hint);

  --st-color-text-info: var(--st-color-private-blue-550-solid);
  --st-color-text-positive: var(--st-color-private-green-550-solid);
  --st-color-text-warning: var(--st-color-private-yellow-550-solid);
  --st-color-text-danger: var(--st-color-private-red-550-solid);

  --st-color-text-dark-primary: var(--st-color-private-black-900);
  --st-color-text-dark-secondary: var(--st-color-private-black-500);
  --st-color-text-dark-hint: var(--st-color-private-black-300);

  --st-color-text-light-primary: var(--st-color-private-white-850);
  --st-color-text-light-secondary: var(--st-color-private-white-500);
  --st-color-text-light-hint: var(--st-color-private-white-300);
}
