@mixin st-colors-private-dark {
  --st-color-private-white-50: rgb(255 255 255 / 5%);
  --st-color-private-white-100: rgb(255 255 255 / 10%);
  --st-color-private-white-150: rgb(255 255 255 / 15%);
  --st-color-private-white-200: rgb(255 255 255 / 20%);
  --st-color-private-white-250: rgb(255 255 255 / 25%);
  --st-color-private-white-300: rgb(255 255 255 / 30%);
  --st-color-private-white-350: rgb(255 255 255 / 35%);
  --st-color-private-white-400: rgb(255 255 255 / 40%);
  --st-color-private-white-450: rgb(255 255 255 / 45%);
  --st-color-private-white-500: rgb(255 255 255 / 50%);
  --st-color-private-white-550: rgb(255 255 255 / 55%);
  --st-color-private-white-600: rgb(255 255 255 / 60%);
  --st-color-private-white-650: rgb(255 255 255 / 65%);
  --st-color-private-white-700: rgb(255 255 255 / 70%);
  --st-color-private-white-750: rgb(255 255 255 / 75%);
  --st-color-private-white-800: rgb(255 255 255 / 80%);
  --st-color-private-white-850: rgb(255 255 255 / 85%);
  --st-color-private-white-900: rgb(255 255 255 / 90%);
  --st-color-private-white-950: rgb(255 255 255 / 95%);

  --st-color-private-white-20-solid: rgb(38 34 38);
  --st-color-private-white-50-solid: rgb(45 40 45);
  --st-color-private-white-70-solid: rgb(49 45 49);
  --st-color-private-white-100-solid: rgb(56 52 56);
  --st-color-private-white-150-solid: rgb(67 63 67);
  --st-color-private-white-200-solid: rgb(78 74 78);
  --st-color-private-white-250-solid: rgb(89 85 89);
  --st-color-private-white-300-solid: rgb(100 97 100);
  --st-color-private-white-350-solid: rgb(111 108 111);
  --st-color-private-white-400-solid: rgb(122 119 122);
  --st-color-private-white-450-solid: rgb(133 131 133);
  --st-color-private-white-500-solid: rgb(144 142 144);
  --st-color-private-white-550-solid: rgb(156 153 156);
  --st-color-private-white-600-solid: rgb(167 165 167);
  --st-color-private-white-650-solid: rgb(178 176 178);
  --st-color-private-white-700-solid: rgb(189 187 189);
  --st-color-private-white-750-solid: rgb(200 198 200);
  --st-color-private-white-800-solid: rgb(211 210 211);
  --st-color-private-white-850-solid: rgb(222 221 222);
  --st-color-private-white-900-solid: rgb(233 232 233);
  --st-color-private-white-950-solid: rgb(244 244 244);
  --st-color-private-white-1000-solid: rgb(255 255 255);

  --st-color-private-white-opaque-150: rgb(76 75 81 / 95%);

  --st-color-private-black-20: rgb(0 0 0 / 2%);
  --st-color-private-black-50: rgb(0 0 0 / 5%);
  --st-color-private-black-100: rgb(0 0 0 / 10%);
  --st-color-private-black-150: rgb(0 0 0 / 15%);
  --st-color-private-black-200: rgb(0 0 0 / 20%);
  --st-color-private-black-250: rgb(0 0 0 / 25%);
  --st-color-private-black-300: rgb(0 0 0 / 30%);
  --st-color-private-black-350: rgb(0 0 0 / 35%);
  --st-color-private-black-400: rgb(0 0 0 / 40%);
  --st-color-private-black-450: rgb(0 0 0 / 45%);
  --st-color-private-black-500: rgb(0 0 0 / 50%);
  --st-color-private-black-550: rgb(0 0 0 / 55%);
  --st-color-private-black-600: rgb(0 0 0 / 60%);
  --st-color-private-black-650: rgb(0 0 0 / 65%);
  --st-color-private-black-700: rgb(0 0 0 / 70%);
  --st-color-private-black-750: rgb(0 0 0 / 75%);
  --st-color-private-black-800: rgb(0 0 0 / 80%);
  --st-color-private-black-850: rgb(0 0 0 / 85%);
  --st-color-private-black-900: rgb(0 0 0 / 90%);
  --st-color-private-black-950: rgb(0 0 0 / 95%);

  --st-color-private-black-1000-solid: rgb(0 0 0);

  --st-color-private-blue-50: rgb(54 151 241 / 10%);
  --st-color-private-blue-100: rgb(54 151 241 / 15%);
  --st-color-private-blue-150: rgb(54 151 241 / 20%);
  --st-color-private-blue-200: rgb(54 151 241 / 30%);
  --st-color-private-blue-250: rgb(54 151 241 / 40%);
  --st-color-private-blue-300: rgb(54 151 241 / 50%);
  --st-color-private-blue-350: rgb(54 151 241 / 60%);
  --st-color-private-blue-400: rgb(54 151 241 / 70%);
  --st-color-private-blue-450: rgb(54 151 241 / 80%);
  --st-color-private-blue-500: rgb(54 151 241 / 90%);

  --st-color-private-blue-50-solid: rgb(36 41 55);
  --st-color-private-blue-100-solid: rgb(37 47 65);
  --st-color-private-blue-150-solid: rgb(38 53 75);
  --st-color-private-blue-200-solid: rgb(40 66 96);
  --st-color-private-blue-250-solid: rgb(42 78 117);
  --st-color-private-blue-300-solid: rgb(44 90 138);
  --st-color-private-blue-350-solid: rgb(46 102 158);
  --st-color-private-blue-400-solid: rgb(48 114 179);
  --st-color-private-blue-450-solid: rgb(50 127 200);
  --st-color-private-blue-500-solid: rgb(52 139 220);
  --st-color-private-blue-550-solid: rgb(54 151 241);
  --st-color-private-blue-600-solid: rgb(74 161 242);
  --st-color-private-blue-650-solid: rgb(94 172 244);
  --st-color-private-blue-700-solid: rgb(114 182 245);
  --st-color-private-blue-750-solid: rgb(134 193 247);
  --st-color-private-blue-800-solid: rgb(155 203 248);
  --st-color-private-blue-850-solid: rgb(175 213 249);
  --st-color-private-blue-900-solid: rgb(195 224 251);
  --st-color-private-blue-950-solid: rgb(215 234 252);
  --st-color-private-blue-1000-solid: rgb(225 239 253);

  --st-color-private-green-50: rgb(77 176 155 / 10%);
  --st-color-private-green-100: rgb(77 176 155 / 15%);
  --st-color-private-green-150: rgb(77 176 155 / 20%);
  --st-color-private-green-200: rgb(77 176 155 / 30%);
  --st-color-private-green-250: rgb(77 176 155 / 40%);
  --st-color-private-green-300: rgb(77 176 155 / 50%);
  --st-color-private-green-350: rgb(77 176 155 / 60%);
  --st-color-private-green-400: rgb(77 176 155 / 70%);
  --st-color-private-green-450: rgb(77 176 155 / 80%);
  --st-color-private-green-500: rgb(77 176 155 / 90%);

  --st-color-private-green-50-solid: rgb(38 44 46);
  --st-color-private-green-100-solid: rgb(40 51 52);
  --st-color-private-green-150-solid: rgb(43 58 58);
  --st-color-private-green-200-solid: rgb(47 73 70);
  --st-color-private-green-250-solid: rgb(51 88 82);
  --st-color-private-green-300-solid: rgb(56 103 95);
  --st-color-private-green-350-solid: rgb(60 117 107);
  --st-color-private-green-400-solid: rgb(64 132 119);
  --st-color-private-green-450-solid: rgb(68 147 131);
  --st-color-private-green-500-solid: rgb(73 161 143);
  --st-color-private-green-550-solid: rgb(77 176 155);
  --st-color-private-green-600-solid: rgb(95 184 165);
  --st-color-private-green-650-solid: rgb(113 192 175);
  --st-color-private-green-700-solid: rgb(130 200 185);
  --st-color-private-green-750-solid: rgb(148 208 195);
  --st-color-private-green-800-solid: rgb(166 216 205);
  --st-color-private-green-850-solid: rgb(184 223 215);
  --st-color-private-green-900-solid: rgb(202 231 225);
  --st-color-private-green-950-solid: rgb(219 239 235);
  --st-color-private-green-1000-solid: rgb(228 243 240);

  --st-color-private-yellow-50: rgb(255 190 92 / 10%);
  --st-color-private-yellow-100: rgb(255 190 92 / 15%);
  --st-color-private-yellow-150: rgb(255 190 92 / 20%);
  --st-color-private-yellow-200: rgb(255 190 92 / 30%);
  --st-color-private-yellow-250: rgb(255 190 92 / 40%);
  --st-color-private-yellow-300: rgb(255 190 92 / 50%);
  --st-color-private-yellow-350: rgb(255 190 92 / 60%);
  --st-color-private-yellow-400: rgb(255 190 92 / 70%);
  --st-color-private-yellow-450: rgb(255 190 92 / 80%);
  --st-color-private-yellow-500: rgb(255 190 92 / 90%);

  --st-color-private-yellow-50-solid: rgb(56 45 40);
  --st-color-private-yellow-100-solid: rgb(67 53 43);
  --st-color-private-yellow-150-solid: rgb(78 61 46);
  --st-color-private-yellow-200-solid: rgb(100 77 51);
  --st-color-private-yellow-250-solid: rgb(122 93 57);
  --st-color-private-yellow-300-solid: rgb(145 110 63);
  --st-color-private-yellow-350-solid: rgb(167 126 69);
  --st-color-private-yellow-400-solid: rgb(189 142 75);
  --st-color-private-yellow-450-solid: rgb(211 158 80);
  --st-color-private-yellow-500-solid: rgb(233 174 86);
  --st-color-private-yellow-550-solid: rgb(255 190 92);
  --st-color-private-yellow-600-solid: rgb(255 197 108);
  --st-color-private-yellow-650-solid: rgb(255 203 125);
  --st-color-private-yellow-700-solid: rgb(255 210 141);
  --st-color-private-yellow-750-solid: rgb(255 216 157);
  --st-color-private-yellow-800-solid: rgb(255 223 174);
  --st-color-private-yellow-850-solid: rgb(255 229 190);
  --st-color-private-yellow-900-solid: rgb(255 236 206);
  --st-color-private-yellow-950-solid: rgb(255 242 222);
  --st-color-private-yellow-1000-solid: rgb(255 245 231);

  --st-color-private-red-50: rgb(229 50 93 / 10%);
  --st-color-private-red-100: rgb(229 50 93 / 15%);
  --st-color-private-red-150: rgb(229 50 93 / 20%);
  --st-color-private-red-200: rgb(229 50 93 / 30%);
  --st-color-private-red-250: rgb(229 50 93 / 40%);
  --st-color-private-red-300: rgb(229 50 93 / 50%);
  --st-color-private-red-350: rgb(229 50 93 / 60%);
  --st-color-private-red-400: rgb(229 50 93 / 70%);
  --st-color-private-red-450: rgb(229 50 93 / 80%);
  --st-color-private-red-500: rgb(229 50 93 / 90%);

  --st-color-private-red-50-solid: rgb(54 31 40);
  --st-color-private-red-100-solid: rgb(63 32 43);
  --st-color-private-red-150-solid: rgb(73 33 46);
  --st-color-private-red-200-solid: rgb(93 35 52);
  --st-color-private-red-250-solid: rgb(112 37 58);
  --st-color-private-red-300-solid: rgb(132 40 64);
  --st-color-private-red-350-solid: rgb(151 42 69);
  --st-color-private-red-400-solid: rgb(171 44 75);
  --st-color-private-red-450-solid: rgb(190 46 81);
  --st-color-private-red-500-solid: rgb(210 48 87);
  --st-color-private-red-550-solid: rgb(229 50 93);
  --st-color-private-red-600-solid: rgb(232 71 109);
  --st-color-private-red-650-solid: rgb(234 91 125);
  --st-color-private-red-700-solid: rgb(237 112 142);
  --st-color-private-red-750-solid: rgb(239 132 158);
  --st-color-private-red-800-solid: rgb(242 153 174);
  --st-color-private-red-850-solid: rgb(245 173 190);
  --st-color-private-red-900-solid: rgb(247 194 206);
  --st-color-private-red-950-solid: rgb(250 214 223);
  --st-color-private-red-1000-solid: rgb(251 224 231);
}
