@mixin base {
  --st-color-base-background: var(--st-color-private-white-1000-solid);

  --st-color-base-generic: var(--st-color-private-black-50);
  --st-color-base-generic-hover: var(--st-color-private-black-150);

  --st-color-base-selection: rgb(82 130 255 / 15%);
  --st-color-base-selection-hover: rgb(82 130 255 / 30%);

  --st-color-base-info-light: var(--st-color-private-blue-100);
  --st-color-base-positive-light: var(--st-color-private-green-100);
  --st-color-base-warning-light: var(--st-color-private-yellow-200);
  --st-color-base-danger-light: var(--st-color-private-red-100);
}

@mixin brand {
  --st-color-brand-primary: rgb(82 130 255 / 100%);
  --st-color-brand-primary-hover: rgb(78 121 235 / 100%);
}

@mixin border {
  --st-color-border-primary: rgb(0 0 0 / 10%);
  --st-color-border-primary-hover: rgb(0 0 0 / 15%);
  --st-color-border-primary-active: rgb(0 0 0 / 30%);
}

@mixin text {
  --st-color-text-primary: var(--st-color-text-dark-primary);
  --st-color-text-secondary: var(--st-color-text-dark-secondary);
  --st-color-text-hint: var(--st-color-text-dark-hint);

  --st-color-text-info: var(--st-color-private-blue-600-solid);
  --st-color-text-positive: var(--st-color-private-green-600-solid);
  --st-color-text-warning: var(--st-color-private-yellow-700-solid);
  --st-color-text-danger: var(--st-color-private-red-600-solid);

  --st-color-text-dark-primary: var(--st-color-private-black-850);
  --st-color-text-dark-secondary: var(--st-color-private-black-500);
  --st-color-text-dark-hint: var(--st-color-private-black-300);

  --st-color-text-light-primary: var(--st-color-private-white-1000-solid);
  --st-color-text-light-secondary: var(--st-color-private-white-700);
  --st-color-text-light-hint: var(--st-color-private-white-500);
}
