@use "../../variables";

$block: ".#{variables.$ns}form-field";

#{$block} {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  &__label {
    font-weight: var(--st-text-subheader-font-weight);
  }

  &__required-mark {
    margin-left: 2px;
    color: #f04f76;
    font-weight: var(--st-text-subheader-font-weight);
  }

  &__error {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    color: #f04f76;
    font-size: var(--st-text-caption-font-size);
    line-height: var(--st-text-caption-line-height);
  }
}
