$block: ".#{variables.$ns}date-picker";

#{$block} {
  &__control input {
    cursor: pointer;
  }

  &__popup {
    border-radius: 8px;
    background-color: var(--st-color-base-background);
    box-shadow: 0 4px 12px 0 #00000014;
  }
}
