$block: ".#{variables.$ns}date-picker";

#{$block} {
  &__popup {
    border-radius: 8px;
    background-color: var(--st-color-background-primary);
    box-shadow: 0 4px 12px 0 #00000014;
  }
}
