@use "../../variables";

$block: ".#{variables.$ns}sidebar-item";

#{$block} {
  --padding: 10px 12px;

  &_collapsed {
    --padding: 10px;
  }

  &__link {
    height: 40px;
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: var(--padding);
    border-radius: 8px;
    --svg-fill: var(--st-color-text-secondary);

    &_active {
      --svg-fill: var(--st-color-text-primary);
      background-color: var(--st-color-base-generic);
    }

    &:hover {
      background-color: var(--st-color-base-generic);
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    display: flex;

    & > svg {
      fill: var(--svg-fill);
    }
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
