@use "../../variables";

$block: ".#{variables.$ns}dropdown-option";

#{$block} {
  display: inline-flex;
  align-items: center;
  column-gap: 8px;
  padding: 8px 12px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.16s linear;

  &__icon {
    display: flex;

    & svg {
      width: 16px;
      height: 16px;
    }
  }

  &__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_selected {
    background-color: var(--color-base-selection);
  }

  &_disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:not(.dropdown-option_disabled):not(.dropdown-option_selected):hover {
    background-color: var(--st-color-base-generic);
  }
}
