$block: ".#{variables.$ns}checkbox";

#{$block} {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &:hover:not(#{$block}_checked) {
    #{$block}__indicator:before {
      border-color: var(--st-color-border-primary-hover);
    }
  }

  &__indicator {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;

    &::before {
      position: absolute;
      border: 1px solid var(--st-color-border-primary);
      border-radius: 4px;
      background-color: var(--st-color-background-primary);
      background-position: center center;
      background-repeat: no-repeat;
      content: "";
      inset: 0;
      transition: all 0.16s linear;
    }
  }

  &__icon {
    position: absolute;
    color: var(--st-color-background-primary);
    inset: 0;
    visibility: hidden;
  }

  &__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    margin: 0;
    background: none;
    cursor: inherit;
    opacity: 0;
    outline: none;
  }

  &__label {
    margin-left: 8px;
    transition: color 0.16s linear;
  }

  &_checked,
  &_indeterminate {
    & #{$block}__icon {
      visibility: visible;
    }

    & #{$block}__indicator::before {
      border-color: var(--st-color-brand-primary);
      background-color: var(--st-color-brand-primary);
    }
  }

  &_disabled {
    cursor: default;

    & #{$block}__indicator::before {
      border-color: transparent;
      background-color: var(--st-color-base-generic);
    }

    & #{$block}__label {
      color: var(--st-color-text-hint);
    }

    &#{$block}_checked,
    &#{$block}_indeterminate {
      & #{$block}__indicator::before {
        background-color: var(--st-color-brand-primary);
        opacity: 0.6;
      }
    }
  }
}
