$block: ".#{variables.$ns}toast-list";

#{$block} {
  position: fixed;
  z-index: 1;
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.item-enter {
  opacity: 0;
  transform: translateX(10px);
}

.item-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 300ms ease-in;
}

.item-exit {
  opacity: 1;
  transform: translateX(0);
}

.item-exit-active {
  opacity: 0;
  transform: translateX(10px);
  transition: all 300ms ease-in;
}
