$block: ".#{variables.$ns}avatar";

#{$block} {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  &::before {
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    content: "";
    inset: 0;
  }

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_size {
    &_xs {
      --initials-font-size: 9px;
      --initials-line-height: 24px;

      width: 24px;
      height: 24px;
    }

    &_s {
      --initials-font-size: 13px;
      --initials-line-height: 32px;

      width: 32px;
      height: 32px;
    }

    &_m {
      --initials-font-size: 16px;
      --initials-line-height: 40px;

      width: 40px;
      height: 40px;
    }

    &_l {
      --initials-font-size: 25px;
      --initials-line-height: 64px;

      width: 64px;
      height: 64px;
    }
  }

  &__initials {
    width: 100%;
    height: 100%;
    background-color: var(--st-color-base-generic);
    color: var(--st-color-text-secondary);
    font-size: var(--initials-font-size);
    font-weight: 500;
    line-height: var(--initials-line-height);
    text-align: center;
  }
}
