@import "./themes";

.st-root {
  background: var(--st-color-base-background);
  color: var(--st-color-text-primary);

  @include theme-common;

  &_theme_light {
    @include theme-light;
  }

  &_theme_dark {
    @include theme-dark;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  border: none;
  background-color: transparent;
  font: inherit;
  letter-spacing: inherit;
  outline-style: none;
}

button {
  cursor: pointer;
  user-select: none;

  &:active {
    transform: scale(0.96);
  }
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--primary);
  text-decoration: none;
}

h1 {
  font-size: var(--st-text-header-1-font-size);
  font-weight: var(--st-text-header-font-weight);
  line-height: var(--st-text-header-1-line-height);
}

h2 {
  font-size: var(--st-text-header-2-font-size);
  font-weight: var(--st-text-header-font-weight);
  line-height: var(--st-text-header-2-line-height);
}

::placeholder {
  color: var(--st-color-text-hint);
}
