$block: ".#{variables.$ns}tabs";

#{$block} {
  &__item {
    position: relative;
    display: flex;
    height: 40px;
    align-items: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    user-select: none;

    &_active {
      border-color: var(--st-color-brand-primary);
      font-weight: 600;
    }

    &_disabled {
      color: var(--st-color-text-hint);
      cursor: default;
    }
  }
}
